.article {
  font-size: var(--fontsize-primary-desktop);
  color: var(--color-content);
  padding: 0 20px;
  font-family: var(--font-primary);
  margin-left: auto;
  margin-right: auto;

  @include grid-media($portrait) {
    font-size: var(--fontsize-primary-mobile);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 40px 0;
  }

  &__title,
  h1 {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.4;
    border-bottom: 1px solid var(--color-content);
    color: var(--color-title);
    //   text-align: center;
  }

  &__meta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 0;

    @include grid-media($portrait) {
      padding: 16px 20px;
    }
  }

  &__cate {
    display: block;
    padding: 4px;
    margin-right: 12px;
    color: var(--color-content);
    //   background: var(--color-content);
    border-radius: 4px;
    font-size: 0.8em;
  }

  &__time {
    color: var(--color-content);
    font-size: 0.8em;
  }
}

.article {
  &__content {
    font-size: 1em;
    color: var(--color-content);
    line-height: 1.4;

    @include grid-media($portrait) {
      //   padding: 0 20px;
    }
    *:not(:only-child):not(li) {
      margin-bottom: 12px;
    }

    // UL

    ul {
      margin-left: 20px;
      li {
        list-style-position: outside;
        margin-bottom: 6px;

        // ul {
        //     margin-left: 20px;
        // }
      }

      &,
      &.bulleted {
        li {
          list-style-type: disc;
        }
      }

      &.numbered {
        li {
          list-style-type: decimal;
        }
      }
    }

    // TITLE

    h2 {
      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--color-heading-2);
    }

    h3 {
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--color-heading-3);
    }

    h4 {
      font-size: 1.2em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--color-heading-4);
    }

    h5 {
      font-size: 1.1em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--color-heading-5);
    }

    h6 {
      font-size: 1em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--color-heading-6);
    }

    p {
    }

    a {
      color: var(--color-href);
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-bottom 0.4s;
      border-bottom: 1px solid rgba(var(--color-href), 0.5);

      &:hover {
        border-bottom: 1px solid var(--color-href);
      }
    }

    a.hero {
      display: block;
      //   background: rgba(var(--color-box-bg), 1);
      background: var(--color-box-bg);
      color: var(--color-href);
      font-weight: bold;
      padding: 20px;
      border: 0px;
    }

    // IMG + IFRAME

    img,
    iframe {
      display: block;
      max-width: calc(100%);
      margin: 0 auto 12px;
    }

    img + p.caption,
    iframe + p.caption {
      display: block;
      max-width: calc(100% - 20px * 2);
      margin: 0 auto 12px;
      font-style: italic;
      font-size: 0.8em;
      color: #888;
      text-align: center;
    }

    img.float {
      &,
      &--left {
        float: left;
        margin-right: 20px;
      }
      &--right {
        float: right;
        margin-right: 0px;
        margin-left: 20px;
      }
    }

    // CALLOUT

    .callout {
      padding: 20px 20px;
      background: var(--color-box-bg);
      color: var(--color-box-content);
    }

    // TABLE

    .table {
      width: 100%;

      @include grid-media($xs, $portrait) {
        overflow: auto;
      }
    }

    table {
      width: 100%;
      td {
        padding: 8px;
        border: 1px solid var(--color-table-border);
        vertical-align: middle;
        img {
          max-width: 100%;
          margin: 0 auto 0;
        }
      }
      thead {
        background: var(--color-table-head-bg);
        color: var(--color-table-head-content);
        font-weight: bold;
        tr {
          th {
            padding: 12px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid var(--color-table-border);
          }
        }
      }
      tbody {
        background: var(--color-table-body-bg);
        color: var(--color-table-body-content);
        tr {
          td {
          }
        }
      }
      tfoot {
        background: var(--color-table-foot-bg);
        color: var(--color-table-foot-content);
        tr {
          td {
          }
        }
      }
    }
  }
}
