.popup {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    // display: none;

    &__background, &__background--unclosable { 
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background: rgba(#000, .8); 
        width: 100%;
        height: 100vh;
        transition: opacity 1s;
    }

    &__content {
        opacity: 0;
        visibility: hidden;
        // position: absolute;
        // background: #fff;
        z-index: 2;
        transition: all .2s;
        // transform: translateY(-100vh);
        transform: scale(0);
    }

    &__tool {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        
        padding: 5px;
        display: flex;
        opacity: 0;
        visibility: hidden;
    }

    &__close {
        pointer-events: all;
        background: #000;
        position: absolute;
        right: 0%;
        top: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 42px;
        height: 42px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;

        .popup__background, .popup__background--unclosable {
            opacity: 1;
            visibility: visible;
        }
        .popup__content {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
        .popup__tool {
            opacity: 1;
            visibility: visible;
        }
    }
}

.popup {
    &.searchbox {
        .popup {
            &__background {
                // background: rgb(0,0,0);
                // background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.8) 50%, rgba(0,0,0,.3) 100%);
            }

            &__content {

            }
        }
    }
}

.popup--open-image {
    .popup__content {
        // width: 80%;
        // height: 60%;
        .image {
            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.popup--open-video {
    .popup__content {
        width: 80%;
        height: 60%;
        .embed {
            width: 100%;
            height: 100%;
            iframe {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}