
<article class="article">

    <div class="article__content">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas rutrum malesuada. In hac habitasse platea dictumst. Sed sit amet vehicula massa. Aliquam aliquet, nulla eget <a href="#" class="">
        Odio purus venenatis dui
        </a> fermentum fermentum, odio purus venenatis dui, a pulvinar urna turpis hendrerit tortor. Quisque fringilla vel felis sed tempor. 
        </p>

        <a href="#" class="hero">
        Odio purus venenatis dui
        </a>
        
        <h2>H2 | In commodo diam vitae metus iaculis feugiat</h2>

        <h3>H3 | Morbi malesuada molestie purus sed elementum</h3>

        <h4>H4 | Nullam vitae dictum turpis, eget egestas leo</h4>

        <h5>H5 | Nulla pharetra pellentesque ornare</h5>

        <h6>H6 | Vivamus congue quam sem, sit amet lacinia mi elementum eget</h6>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/NpEaa2P7qZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p class="caption">caption | Suspendisse dolor ex, ullamcorper ut cursus eu, ornare ac elit. </p>

        <p>Nullam id mi ultrices, pulvinar diam nec, convallis leo. </p>

        <img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum.">

        <p class="caption">caption | Sed tristique erat quis diam viverra, vel vulputate sem condimentum.</p>

        <p>Praesent ultrices lorem a dolor tempor, eu ultricies ligula suscipit. </p>
        
        <p>Quisque rhoncus, mi placerat accumsan ullamcorper, diam justo placerat libero, sed tristique massa lectus eu diam: 
        <ul>
            <li>Vestibulum vitae justo sit amet lorem vestibulum interdum.</li>
            <li>Aliquam tellus est, finibus eget justo nec, mattis ultrices ante.</li>
            <li>Aenean non mauris ex. Quisque tincidunt magna ut leo imperdiet vestibulum.
                <ul>
                    <li>Vestibulum vitae justo sit amet lorem vestibulum interdum.</li>
                    <li>Aliquam tellus est, finibus eget justo nec, mattis ultrices ante.
                        <ul>
                            <li>Vestibulum vitae justo sit amet lorem vestibulum interdum.</li>
                            <li>Aliquam tellus est, finibus eget justo nec, mattis ultrices ante.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="numbered">
            <li>Nunc suscipit leo elit.</li>
            <li>Vivamus aliquam elementum dapibus. </li>
            <li>Vestibulum volutpat pharetra augue, sed malesuada ipsum.
                <ul>
                    <li>Vestibulum vitae justo sit amet lorem vestibulum interdum.</li>
                    <li>Aliquam tellus est, finibus eget justo nec, mattis ultrices ante.
                        <ul>
                            <li>Vestibulum vitae justo sit amet lorem vestibulum interdum.</li>
                            <li>Aliquam tellus est, finibus eget justo nec, mattis ultrices ante.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        Proin efficitur lobortis arcu, volutpat auctor erat ullamcorper id. 
            
        </p>
        
        <div class="callout">
            <p>callout | Curabitur malesuada tristique feugiat. Maecenas eu diam ac nunc pulvinar ullamcorper. Duis sit amet felis a massa facilisis iaculis et vel libero. Phasellus suscipit nisi ac odio porttitor faucibus. Cras consequat molestie sodales. Donec sed consequat nisl. Donec rhoncus feugiat mauris, eget viverra lectus posuere eget. Etiam cursus massa consequat consequat pellentesque. Suspendisse a mattis justo, nec rutrum est.
            </p>
        </div>

        <img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum." class="float" width="160">

        <p>Quisque suscipit, neque a mollis commodo, nibh nisi euismod orci, ut sagittis nibh nisi sit amet ipsum. Sed condimentum facilisis turpis, vitae cursus tellus sodales quis. Fusce nec bibendum nunc. Duis volutpat dictum est vel bibendum. Donec mattis, eros vitae placerat scelerisque, nisl metus pulvinar magna, suscipit tempor lacus nibh eget leo. Nullam luctus, lectus vitae efficitur eleifend, risus sem imperdiet sem, id tempus nisi augue a magna. Duis et arcu id nisl ultricies aliquet. Vestibulum porta nisi et nunc luctus, ac sagittis felis posuere. In vitae consequat quam, et tincidunt erat. Maecenas ullamcorper augue eget leo pretium, vel tempor lectus mollis. Mauris vestibulum augue at ex condimentum, at consectetur magna convallis. Donec bibendum nisi sed massa posuere gravida. In ornare eleifend ligula elementum blandit.
        </p>

        <div class="table">
        <table>
                <thead>
                    <tr>
                        <th>Duis</th>
                        <th>Vestibulum</th>
                        <th>Sed massa posuere</th>
                        <th>Elementum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Duis</td>
                        <td>Vestibulum</td>
                        <td>Sed massa posuere</td>
                        <td>Elementum</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum."></td>
                        <td>Donec mattis, <strong>strong | eros vitae placerat scelerisque</strong>, nisl metus <a href="#">a | pulvinar magna</a>.</td>
                        <td>
                            <ul>
                                <li>Vestibulum vitae.</li>
                                <li>Aliquam tellus est.
                                    <ul>
                                        <li>Lorem vestibulum interdum.</li>
                                        <li>Mattis ultrices ante.</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum."></td>
                        <td>

                        <p>Risus sem imperdiet sem, id tempus nisi augue a magna.</p>
                        
                        <div class="callout">callout | Risus sem imperdiet sem, id tempus nisi augue a magna.</div>

                        </td>
                        <td>
                            <ul class="numbered">
                                <li>Vestibulum vitae.</li>
                                <li>Aliquam tellus est.
                                    <ul>
                                        <li>Lorem vestibulum interdum.</li>
                                        <li>Mattis ultrices ante.</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum."></td>
                        <td>Mauris vestibulum augue at ex condimentum, at consectetur magna convallis.</td>
                        <td>
                            <ul>
                                <li>Vestibulum vitae.</li>
                                <li>Aliquam tellus est.
                                    <ul>
                                        <li>Lorem vestibulum interdum.</li>
                                        <li>Mattis ultrices ante.</li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" align="center">Quisque non rhoncus risus, at facilisis erat.</td>
                    </tr>
                </tfoot>
            </table> 
        </div>


        <img src="https://img.zing.vn/products/kv/wp3/mainsite/assets/images/sample/axb.svg" alt="Sed tristique erat quis diam viverra, vel vulputate sem condimentum." class="float float--right" width="160">

        <p>Pellentesque mauris leo, auctor nec lectus ut, sodales lobortis lacus. Vivamus id urna eu magna egestas iaculis eu sed arcu. Duis id nisi eget mi placerat efficitur. Donec eget libero sodales, sagittis odio quis, tristique odio. Nullam venenatis orci sem, id ullamcorper ante pulvinar non. Phasellus justo eros, consequat quis felis vitae, sagittis sagittis nunc. Vivamus at venenatis justo. Morbi sed porta lectus. Sed faucibus consequat nibh ac commodo. Quisque non rhoncus risus, at facilisis erat. Nullam hendrerit vestibulum ex. Nulla pharetra vehicula lorem eleifend iaculis.
        </p>

    
    </div>


</article>
