{#<div id="fb-root"></div>#}
{#<script async defer crossorigin="anonymous"#}
{#        src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0&appId=2912036775703048&autoLogAppEvents=1"#}
{#        nonce="0h8uIeFr"></script>#}


{# inject a script that give access to the facebook's sdk #}

<script>
    const _fbsdk = function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
    }
</script>