{% import "../../setup/html/_macros.html.twig" as _macro %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Website Platform</title>
		<meta name="description" content="A Single Page Builder"/>
		<meta property="og:title" content="Website Platform"/>
		<meta property="og:description" content="A Single Page Builder"/>
		<link rel="shortcut icon" href="assets/favicon-default.ico"/>
		<meta property="og:image" content="assets/sharefb-default.jpg"/>
	</head>
	<body class="">
		{% include "../../setup/html/_fbsdk.html.twig" %}
		<div id="wrapper" class="wrapper wrapper--homepage scaleDesktop scaleMobile">
			<div id="wrapperContent" class="wrapper__content">
				{# import your components (blocks) here #}
			</div>
		</div>

		<div id="floating" class="floating"></div>
		<div style="display: none;">
			<div id="font-picker-primary" class="font-picker"></div>
			<div id="font-picker-secondary" class="font-picker"></div>
		</div>
	</body>
</html>

{#
undefined
#}
